{
    "project": {
        "_id": "5d64733db29ac960ca2e797f",
        "name": "App Test"
    },
    "container": "brainlife/ga-dipy:lab211-dipy130",
    "group": 531,
    "notebook": "testdata/notebook"
}
